.orange {
  height: 50px;
  background-color: #ff9a4b;
}
body {
  margin: 0;
}

/* メイン */
.main {
  display: flex;
  margin: 50px auto;
  justify-content: center;
  width: 960px;
}
.main-box {
  width: 300px;
  background-color: #eeeeee;
  position: relative;
  padding: 10px;
}

.step {
  display: inline;
  background-color: #ff9a4b;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
}

p {
  margin-top: 0;
}
h3 {
  margin: 15px auto 5px 0;
}

.margin {
  margin-right: 30px;
}

.image1 {
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 100%;
  height: 150px;
  width: 280px;
}

.image2 {
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 100%;
  height: 150px;
  width: 280px;
}
.image3 {
  background-image: url(img/flow03.png);
  height: 150px;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 100%;
  width: 280px;
}
.gray {
  height: 50px;
  background-color: #aaaaaa;
}

/* メディアクエリ */
@media screen and (max-width: 768px) {
  .main {
    display: block;
    width: 100%;
  }

  .main-box {
    width: 90%;
    margin: 0 auto 20px;
  }
  .image1 {
    width: 100%;
  }
  .image2 {
    width: 100%;
  }
  .image3 {
    width: 100%;
  }
}
